// COLORS

//Primary
$veryDarkBlue: hsl(233, 47%, 7%); // Main BG
$darkDesaturatedBlue: hsl(244, 38%, 16%); // Card BG
$softViolet: hsl(277, 64%, 61%); // Accent

// Neutral
$white: #ffffff; // Main Heading
$sTWMainP: hsla(0, 0%, 100%, 0.75); // Main Paragraph
$sTWS: hsla(0, 0%, 100%, 0.6); // Stat Headings

// TYPOGRAPHY
$font-xs: 0.625rem; // 10px
$font-sm: 0.9375rem; // 15px
$font-md: 1.125rem; // 18px
$font-lg: 1.75rem; // 28px
